h3 {
    margin-bottom: 8px;
}

div {
    height: inherit;
    width: inherit;
}

p {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 10px;
}

.controlBox {
    height: fit-content;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s, visibility 2s;
}

.unhidden {
    display: block;
    visibility: visible;
    opacity: 1;
    animation: fade 1s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.controlText {
    float: left;
    margin: 0;
    width: 110px;
    padding-right: 5px;
}

.controlLine {
    margin: 2px;
}

.controlLine input {
    margin-left: 10px;
}

.output {
    width: 400px;
    height: 200px;

}

.head {
    margin: auto;
    width: 400px;
    text-align: center;
}

.output-box {
    width: 400px;
    float: left;
    margin: 20px;
}

.content {
    width: 800px;
    float: left;
    margin: 20px;
}

label {
    margin-top: 2px;
    margin-bottom: 4px;
}

:required {
    border: red solid 1px;
}

.input-error {
    border: 0.5px solid red;
}

.input-error-hint {
    display: inline-block;
    color: red;
    position: relative;
    left: 30px;
}

input:invalid:focus {
    outline: none;
}

input:invalid {
    border-color: #900;
    background-color: #FDD;
}

.input-line {
    height: 25px;
}